a {
  color: #00abc6;
}

a:focus, a:hover {
  color: #58ecef;
}

body {
  background-color: #12c8cc;
  display: grid;
  font-family: "Noto Serif", serif;
  grid-template-areas:
    "nav"
    "header"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.65em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.87em 0;
}

html {
  min-height: 100%;
}

p {
  font-family: "Muli", sans-serif;
  margin-bottom: 1em;
}

.about-area {
  display: grid;
  grid-template-areas:
      "intro"
      "contact";
  grid-template-columns: 1fr;
}

.art-piece {
  width: 100%;
}

.contact-area {
  background-color: #dddddd;
  grid-area: contact;
  padding: 2em;
}

.contact-icon {
  height: 1.5em;
  padding-right: .5em;
}

.contact-icon-fallback {
  height: 1.5em;
}

.contact-item {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
}

.contact-item:last-child {
  margin-bottom: 0;
}

.content {
  grid-area: main;
  background-color: #ffffff;
}

.introduction {
  grid-area: intro;
  padding: 2em;
}

.main-header {
  align-items: center;
  background-color: #12c8cc;
  display: flex;
  flex-direction: column;
  grid-area: header;
  min-height: 2em;
}

.main-title {
  color: #ffffff;
  font-family: "Noto Serif", serif;
  font-weight: bold;
}

.nav-link {
  color: #000000;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.nav-link-here {
  background-color: #12c8cc;
  color: #ffffff;
}

.nav-link:focus, .nav-link:hover {
  outline: .1em solid #000000;
  color: #000000;
  text-decoration: underline;
}

.nav-main {
  background-color: #ffffff;
  display: flex;
  grid-area: nav;
}

.portfolio-area {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  padding: 2em;
}

.portfolio-caption {
  background-color: #4aaaa5;
  bottom: 1em;
  box-sizing: border-box;
  color: #ffffff;
  font-family: serif;
  font-size: 1.25em;
  padding: 1em;
  margin: 0;
  position: absolute;
  text-align: center;
  transition: background-color .2s;
  width: 100%;
}

.portfolio-deployment:focus .portfolio-caption,
.portfolio-deployment:hover .portfolio-caption {
  background-color: #e03c96;
}

.portfolio-deployment:focus .portfolio-image,
.portfolio-deployment:hover .portfolio-image {
  opacity: 0.8;
}

.portfolio-image {
  display: block;
  transition: opacity .2s;
  width: 100%;
}

.portfolio-item {
  position: relative;
}

.portrait {
  border-radius: 50%;
  border: .25em solid #ffffff;
  width: 10em;
}

.repo-link {
  border-bottom: .1em solid #333;
  padding: 1em 2em;
  text-align: center;
}

.section-title {
  margin-top: 0;
}

.tagline {
  color: #eeeeee;
  font-size: 1.25em;
  margin-top: 1em;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-areas:
        "nav nav nav"
        "header header header"
        ". main .";
    grid-template-columns: 1fr 540px 1fr;
  }

  .portfolio-area {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 1fr 768px 1fr;
  }

  .about-area {
    grid-template-areas: "intro contact";
    grid-template-columns: 3fr 2fr;
  }
}

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 992px 1fr;
  }

  .portfolio-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
